examples/EIP/CircuitBreaker/.camel-jbang/camel-jbang-run.properties
llm_chat.py
test.md
examples/EIP/Aggregation/.camel-jbang/camel-jbang-run.properties
examples/TicketAgent/.camel-jbang/camel-jbang-run.properties
.camel-jbang
.vscode/settings.json
Components/*
examples/Components/Mongodb/mongodb.camel.yaml
Ai/*
.export/*
.camel/*
test/*
prompts.md
examples/Components/EmailTrigger/application.properties
examples/Components/EmailTrigger/EmailTrigger.camel.yaml
examples/Components/EmailTrigger/project.vized.json
examples/Components/EmailTrigger/README.md
Claude.md
llm.txt
llm.txt
llm_.txt
vized.md
.cursor/rules/vized-rule.mdc
